<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="racecar" />
  <arg name="gui" default="true" />
  <arg name="run_camera" default="false"/>

  <!-- Load the empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racecar_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Load the robot description -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find racecar_description)/urdf/racecar.xacro'" />

  <!-- Spawn the first racecar in Gazebo -->
  <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar -z 0.05" />

  <!-- ros_control for the first racecar -->
  <include file="$(find racecar_control)/launch/racecar_control.launch" ns="/racecar"/>

  <!-- MUX for the first racecar -->
  <include file="$(find racecar)/launch/mux.launch" ns="vesc" />

  <!-- Better odom topic for the first racecar -->
  <node name="better_odom_racecar" pkg="topic_tools" type="relay" args="/vesc/odom /pf/pose/odom" />

  <!-- Spawn the second racecar in Gazebo -->
  <node name="racecar2_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar2 -x -1 -z 0.05" />

  <!-- ros_control launch file for the second racecar -->
  <include file="$(find racecar_control)/launch/racecar_control.launch" ns="/racecar2"/>

  <!-- MUX for the second racecar -->
  <include file="$(find racecar)/launch/mux.launch" ns="vesc2" />

  <!-- Better odom topic for the second racecar -->
  <node name="better_odom_racecar2" pkg="topic_tools" type="relay" args="/vesc2/odom /pf/pose/odom" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find racecar_control)/config/racecar_control.yaml" command="load"/>

  <!-- ackermann_cmd_mux node -->
  <node pkg="ackermann_cmd_mux" type="ackermann_cmd_mux" name="ackermann_cmd_mux" output="screen" />

  <!-- Servo node for the first racecar -->
  <node pkg="racecar_control" type="servo_commands.py" name="servo_commands_racecar" output="screen">
    <remap from="/racecar/ackermann_cmd_mux/output" to="/vesc/low_level/ackermann_cmd_mux/output"/>
  </node>

  <!-- Servo node for the second racecar -->
  <node pkg="racecar_control" type="servo_commands.py" name="servo_commands_racecar2" output="screen">
    <remap from="/racecar2/ackermann_cmd_mux/output" to="/vesc2/low_level/ackermann_cmd_mux/output"/>
  </node>

  <!-- Gazebo odometry node for the first racecar -->
  <node pkg="racecar_gazebo" name="gazebo_odometry_node_racecar" type="gazebo_odometry.py"/>

  <!-- Gazebo odometry node for the second racecar -->
  <node pkg="racecar_gazebo" name="gazebo_odometry_node_racecar2" type="gazebo_odometry2.py"/>
</launch>
